/* styles/markdown_style.css */

/*
    ============================================================
    Markdownのスタイルを適用するCSS
    ============================================================
*/

/* 見出し */
.markdown h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.75rem 0 1rem;
}
.markdown h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1.75rem 0 0.5rem;
}
.markdown h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1.75rem 0 0.5rem;
}
.markdown h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1.75rem 0 0.5rem;
}
.markdown h5 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1.75rem 0 0.5rem;
}
.markdown h6 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1.75rem 0 0.5rem;
}
/* 基本書式 */
.markdown p {
    margin-bottom: 1rem;
}
.markdown hr {
    border-top: 1px solid #c4c7c5;
    margin: 0.5rem 0;
}
/* リスト */
.markdown ul {
    padding-left: 1.6875rem;
    margin: 0.5rem 0 1rem;
}
.markdown ol {
    padding-left: 1.6875rem;
    margin: 0.5rem 0 1rem;
}
.markdown li {
    padding-left: 0.25rem;
    margin-bottom: 0.5rem;
    list-style: inside;
    list-style-position: outside;
}
.markdown ul li p {
    padding-left: 0.025rem;
    margin: 0.5rem 0;
}